<div class="flex flex-row mt-4">
  <div>
    <div
      class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 mt-4"
      *ngFor="let element of serverElements">
      <div class="mt-2" >{{ element.name }}</div>
      <div>
        <p>
          <strong class="text-red-600" *ngIf="element.type === 'server'">{{ element.content }}</strong>
          <em class="text-blue-600" *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
      </div>
    </div>
  </div>
</div>