<div
    class="p-6 max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700 mt-4">
    <h3>Game</h3>
    <app-game-controller (gameStatus)="onGameStatus($event)">
    </app-game-controller>
    <div class="flex flex-row">
      <app-game-odd
        [isOddNumber]="gameStatus"
      ></app-game-odd>
      <app-game-even
        [isEvenNumber]="!gameStatus"
      ></app-game-even>
    </div>
</div>
