<div class="container mx-auto">
  <app-cockpit
    (serverCreated)="onServerCreated($event)"
    (blueprintCreated)="onBlueprintCreated($event)"
  >
  </app-cockpit>
  <hr>
  <app-server-element
    [serverElements]="serverElements"
  >
  </app-server-element>
  <hr>
  <app-game></app-game>
</div>