<div class="">
  <div class="mb-4">
    <p class="text-lg font-light leading-relaxed mt-6 mb-4 text-slate-800">
    Add new Servers or blueprints!
    </p>
    <div class="mb-6">
      <label for="server-name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Server Name
      </label>
      <input type="text" id="server-name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Server Name"
        [(ngModel)]="newServerName"
      >
    </div>
    <div class="mb-6">
      <label for="server-name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        Server Content
      </label>
      <input type="text" id="server-name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Server Content"
        #newServerContent
      >
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="onAddServer()"
    >
      Add Server
    </button>
    <button
      class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 ml-4 rounded"
      (click)="onAddBlueprint()">Add Server Blueprint</button>
  </div>
</div>
